<div class="well clearfix">
  <div class="row">
  	<div class="col-3 col-md-3">
  		 <%= image_tag 'KBank_logo.png',  height: '50' %>
  	</div>
  	<div class="col-9 col-md-9 quark">
  		<p style="color: #499E55;">ธนาคาร กสิกรไทย</p>
  		<p>ชื่อบัญชี   น.ส. ขวัญชนก เทียมเท่า</p>
  		<p>เลขที่บัญชี  <span style="color: #499E55;">023-8-11612-0</span></p>
  		<p>สาขาบิ๊กซี สะพานควาย</p>
  	</div>
  </div>
</div>