<!-- Footer -->
<footer id="footer">

	<!-- Icons -->
	<ul class="actions">

		<li><a href="https://www.facebook.com/littlehoneyclub" class="icon fa-facebook" target='_blank'><span class="label">Facebook</span></a></li>
		<li><a href="https://www.instagram.com/littlehoneyclub" class="icon fa-instagram" target='_blank'><span class="label" >Instagram</span></a></li>

	</ul>
	<!-- Menu -->
	<ul class="menu">
		<li>&copy; Little Honey</li>
		<li>
			<%= render template: 'shared/DBD' %>
			
		</li>
		<li>Deverlop: Pattiya Akaratawee</li>
	</ul>

</footer>
